@use 'variables' as *; // Ensure you import your variables if they're in a separate file

.App {
  text-align: center; // Ensures inline elements (text) are centered
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 100vh;
  align-items: center; // Centers child elements horizontally
}

.App-header {
  background-color: $bg-secondary; // Light background for the header
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-strong; // Dark text for contrast
}

.main-content {
  flex-grow: 1;
  background-color: $bg-primary;
  color: $text-primary;
  display: flex;
  flex-direction: column;
  align-items: center; // Center children horizontally
  width: 100%; // Ensure it takes full width
}

.App-link {
  color: $accent; // Accent color for links
  text-decoration: none;

  &:hover {
    color: $button-hover; // Darker hover state
  }
}

.Footer {
  background-color: $bg-card;
  color: $text-strong;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid $border-light;
  margin-top: auto; // Ensures it stays at the bottom when there's not enough content
}