@use "App";
@use "index";
@use "variables" as *;
@use "sass:color"; // Required for `color.adjust`

html,
body,
#root {
    height: 100%; // Ensures full viewport height
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: $bg-primary; // Primary background color
    color: $text-primary; // Main text color
}

button {
    background-color: $button-primary; // Primary button color
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background-color: color.scale($button-primary, $lightness: -10%); // Darken on hover
    }
}